* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: grid;
    place-content: center;
    font-size: 3rem;
    background-color: black;
    color: whitesmoke;
}

h1, p {
    text-align: center;
}

/* #gameContainer{
    text-align: center;
}

#gameBoard{
    border: 3px solid black;

}
#scoreText{
    font-family: "openSans", "monospace";
    font-size: 100px;
}
#resetButton{
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    width: 100px;
    height: 50px;
    border: 5px solid black;
    border-radius: 20px;
    cursor: pointer;
} */